<a href="https://colab.research.google.com/github/JH22222/DAP__/blob/main/DAP_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## [Get the Data](https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016/version/1?select=master.csv)

---
1985년 ~ 2016년 자살률 개요
연도별, 국가별 자살률과 사회경제적 정보를 비교.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/JH22222/toSubmission/main/master.csv')
df.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]